
* {
    box-sizing: border-box;
     padding: 0;
     margin: 0;
     }


 @font-face {
    src: url("../fonts/Montserrat-Medium.ttf");
    font-family:"Montserrat-Medium";
    }

/* namesteno da naslov,navigacija,korpa,logovanje bude fiksirano*/
#upper-part {

position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
/* stilizovanje naslova sajta*/
#site-title {
    background-color: black;
    height: 16vh;
}
#retro {
    padding-left: 20px;
    padding-top: 20px;
}
/* stilizovanje korpe,logo in dugmeta */
#logBasket {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
#logBasket {
    background-color: rgb(241, 237, 237);
    padding-right: 15px;
    padding-top: 5px;
}
.img-logIn, .img-basket {
    width: 40px;
    padding-top: 7px;
}

/* stilizovanje cover slike gramofona*/
#coverImg {
    padding-left: 95px;
}
.coverImgSt {
    width: 1400px;
    height: 600px;
}

/* stilizovanje proizvoda koji su tu pr ucitavanju sajta */

#products {
    padding-left:150px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap ;
    gap: 15px;
}
#about-me {
    padding-top: 20px;
    padding-left:150px;
}
#about-me {
    display: flex;
}

#aobut-txt {
position: relative;
padding-left: 100px;
}

#imgGramofon{
    width: 500px;
    height: 250px;
}
#imgImg {
    width: 500px;
}

/* stilizovanje pretrage i filtera */   

#filter-search {
    padding-left: 500px;
    padding-top: 30px; 
}
#sort1 {
    width: 200px;
}
#sortcategory {
    width: 200px;
    margin-left: 20px;
}
#sort3 {
    width: 200px;
    margin-left: 20px;
}
/* stilizovanje kontakt forme */

#contact-me {
 padding-top:30px;
 padding-left: 115px;
  display: flex;
  flex-direction: row;
  gap:150px;
  font-family:Montserrat-Medium;
  
  
}
.contact {
    font-size: 2em;
    font-family:Montserrat-Medium;
  }
  h4 {
      padding-top: 50px;
    text-align: center;
    
  }
  #maps {
      position: relative;
      float: right;
  }

/* stilizovanje logovanja na posebnoj stranici */

#logFormImg {
    padding-top: 50px;
    padding-left: 700px;
    width: 800px;
}
.lableEmail {
margin-left: 450px;
margin-top: 20px;
}
.lablePsw{
    margin-left: 450px; 
    margin-top: 20px;
}
#log-email{
    margin-left: 450px;
    width: 300px;
   
}
#log-pass {
    margin-left: 450px;
    width: 300px;
}
#logInBtn{
    margin-top: 20px;
    margin-left: 450px;
    background-color: rgb(238, 165, 165);   
    border: none;
    width: 120px;
}

.forgetPsw {
    list-style:none;
    text-decoration: none;
    color: black;
    margin-left: 550px;
    margin-top: 20px;
}
h6 {
    display: inline;
    margin-top: 10px;
    margin-left: 500px;
}
#regBtn {
    width: 300px;
    background-color: rgb(238, 165, 165);
    display: inline-block;
    margin-top: 10px;
    border: none;
}

#cancelbtn {
    margin-left: 450px;
    margin-top: 5px;
    background-color: rgb(238, 165, 165);
    border: none;
    width: 80px;
  
}
.singgInn {
    text-decoration: none;
    list-style: none;
    color: black;
}
#lgnPicture {
    width: 400px;
    margin-left: 300px;
}
/*stilizovanje sing up forme*/

#singInForm {
    margin-bottom: 20px;
}

.lableName, .lableSurname, .lableRegEmail, .lableRegPsw, .lableRegPsw2 {
    margin-left: 450px; 
    margin-top: 20px;   
}


#reg-name-id, #reg-surname-id, #reg-email-id, #reg-pass-id, #reg-pass2-id {
    margin-top: 1px;
    margin-left: 450px;
    width: 300px;
}
#registrationBtn {
    margin-top: 20px;
    margin-left: 450px;
    background-color: rgb(238, 165, 165);   
    border: none;
    width: 120px;;    
}
.slazemSe {
    padding-left: 600px;
    
}
/* stilizovanje foothera-a*/

#foother {
    height: 8vh;
    background-color: black;
    margin-top: 20px;
}
.footherP {
    color: rgb(247, 246, 245);
    padding-top: 20px;
    padding-left: 200px;
    font-family: sans-serif;
}

/* stilizovanje korpe na posebnoj strani*/

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 250px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}
h2 {
    color: rgb(43, 40, 40); ;
}
/*popravljanje nekih elemenata*/


.imgSize {

    width:250px;
    height: 200px;
}

.basketText {
    list-style: none;
    text-decoration: none;
    color: black;
}

.brisanje {
    background-color: rgb(63, 62, 61);
}


.badge {
    background-color: black;
}



#sakrivenoDugme {
    margin-top:20px;
    border-radius: 5px;
}

#searchProducts{
    margin-top:20px;

}
.basketEmpty {
    text-align: center;
    font-size:30px;
}

.badge1 {
    text-decoration: none;
    color:rgb(73, 71, 71);

}
.imgCart {
    width: 240px;
    height: 200px;
}
.card {
    text-align: center;

}
#buttonBuy {
    margin-bottom: 1px;
}
#emptyImg {
    width: 350px;
}
/* media responzivnost za korpu  */   
@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}

/* media responzivnost za tablete  */   


@media (max-width: 768px) {
 
    /*responzivnost project strane*/

    .coverImgSt {
        width:560px;
        height: 500px;
    }
    #coverImg {
     padding-left: 0px;
 }
 #products {
    display: flex;
    padding-left: 33px;
  
 }
 #filter-search {
     padding-top: 10px;
     padding-left: 65px;
 
 }
 #sort1 {
     width: 150px;
 }
 #sortcategory {
     width: 150px;
     margin-left: 5px;
 }
 #sort3 {
     width: 100px;
     margin-left: 5px;
 }
 
 #contact-me {
     padding-left: 28px;
     gap: 50px;
     flex-direction: column;
 }
 #about-me {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}
#imgImg {
    width:480px;
    padding-left: 20px;
}
#aobut-txt{
padding-left:20px;
}
#imgGramofon {
    width: 480px;
    height: 200px;
}
 #maps {
 padding-left:60px;
 }
 .footherP {
  padding-left:15px ;
 }
 .card {
    width: 10rem;
    
}

/*responzivnost sing in strane*/


#singInForm {
    margin-bottom: 0px;
}
.lableName, .lableSurname, .lableRegEmail, .lableRegPsw, .lableRegPsw2 {
    margin-left: 15px; 
    margin-top: 20px;   
}


#reg-name-id, #reg-surname-id, #reg-email-id, #reg-pass-id, #reg-pass2-id {
    margin-top: 1px;
    margin-left: 15px;
    width: 300px;
}
#registrationBtn {
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(238, 165, 165);   
    border: none;
    width: 120px;;    
}
.slazemSe {
    padding-left: 600px;
    
}
#logFormImg {
    padding-left: 150px;
    width: 200px;
}

/*responzivnost log in strane*/

.lableEmail {
    margin-left: 15px;
    margin-top: 20px;
    }
    .lablePsw{
        margin-left: 15px; 
        margin-top: 20px;
    }
    #log-email{
        margin-left: 15px;
        width: 300px;
       
    }
    #log-pass {
        margin-left: 15px;
        width: 300px;
    }
    #logInBtn{
        margin-top: 20px;
        margin-left: 15px;
        width: 120px;
    }
    
    .forgetPsw {
        list-style:none;
        text-decoration: none;
        color: black;
        margin-left: 15px;
        margin-top: 20px;
    }
    h6 {
        display: inline;
        margin-top: 10px;
        margin-left: 15px;
    }
    .regBtn {
        width:100px;
        background-color: rgb(238, 165, 165);
        display: inline-block;
        margin-top: 10px;
        border: none;
    }
    
    #cancelbtn {
        margin-left: 30px;
        margin-top: 5px;
        background-color: rgb(238, 165, 165);
        border: none;
        width: 80px;
      
    }
    #lgnPicture{
        width: 250px;
        margin-left: 0px;
    }
    #emptyImg {
        width: 250px;
    }
    /*responzivnost kontakt forme pri kupovini*/
    .controls {
        width:200px;
        background-color: white;
    }
    .form-group {
    width:300px;
    background-color: white;
    }
    .mb-3 {
        width:200px;
    }
      
    /*responzivnost za mobilne telefone */


    @media (max-width: 576px) {

        /*responzivnost project strane*/

        .coverImgSt {
            width:481px;
            height: 500px;
        }
        #coverImg {
         padding-left: 0px;
     }
     #products {
        display: flex;
        padding-left: 0px;
        gap: 1px;
     }
     #maps {
        padding-left: 35px;
        }
        #filter-search {
            display: flexbox;
            padding-left:30px;
        }
        #sort1 {
            width: 150px;
        }
        #sortcategory {
            width: 150px;
            margin-left: 5px;
        }
        #sort3 {
            width: 100px;
            margin-left: 5px;
        }
#contact-me {
    padding-left: 1px;
}
#lgnPicture{
    width: 200px;
    margin-left: 0px;
}
#emptyImg {
    width: 250px;
}
#about-me {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
#imgImg {
    width:480px;
    padding-left: 0px;
}
#aobut-txt{
padding-left:0px;
}
#imgGramofon {
    width: 480px;
    height: 200px;
}
.controls {
    width:200px;
    background-color: white;
}
.form-group {
width:300px;
background-color: white;
}
.mb-3 {
    width:200px;
}
    } 